/* The container <div> - needed to position the dropdown content */
.dropdown-content {
    &__btb {
        position: absolute;
        width: 2.1429rem;
        height: 2.1429rem;
        border-radius: 50%;
        background: #fff;
        border: 1px solid rgba(31, 32, 65, 0.25);
        color: rgba(31, 32, 65, 0.5);
        text-align: center;
        line-height: 2.0714rem;
        font-size: 1.2857rem;
        font-weight: 100;
        transition: 0.25s ease;
        text-decoration: none;
    }
}
