header 
    .header 
        a(href="#") 
            img(src="images/logo.svg", alt="logo")
            nav 
                ul.nav 
                    li.nav-item
                        a(href="").nav-link О нас
                    li.nav-item
                        a(href="").nav-link Услуги
                    li.nav-item
                        a(href="").nav-link Вакансии
                    li.nav-item
                        a(href="").nav-link Новости
                    li.nav-item
                        a(href="").nav-link Соглашения 
            ul.control 
                li.control-button     
                    button.control-button.control-button_login Войти
                    button.control-button.control-button_signup Зарегистрироваться 
