link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
mixin field(value, type = 'text')
    input(type=type, value=value,style="../../icons/arrow_forward.svg").input-field
            
