.input-field{
    height: 39px;
    max-width: 210px;
    width: 100%;
    color: rgba(31, 32, 65, 0.25);
    font-size: 14px;
    border-color:hsla(238, 35%, 19%, 0.25);
    border-radius: 4px;
    border-width: 1px; 
    // svg: url('../../icons/arrow_forward.svg');
  
 
}
.input-field:focus{
    outline: 1px rgba(31, 33, 65, 0.5);
    border-width: 1px;
    border-color:rgba(31, 33, 65, 0.5);
   
}
input[type="text"]{
    padding-left: 12px;
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 14px;
    
}
.input-field::after{
    content: "";
    background-image: url("../../icons/arrow-forward.svg");
    position: absolute;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
		background-position: center center;
		top: 11px;
    right: 10px;
}
.field__arrow {
    position: absolute;
    top: 14px;
		right: 14px;
		fill: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	}