style
    include field.css
mixin field(value, type = 'text')
    case value 
        when "Email"
            .input-wrapper
                input(type='email', value=value).input-field.input-field_email
                input(type="submit",value='').input-field_arrow
        when "Сколько гостей"
            .input-wrapper
             input(type=type, value=value,disabled).input-field.input-field_guests
