@import url("../../fonts/fonts.css");

.header {
    background-color: white;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: space-between;
    margin:0px 140px;
    padding: 12.5px 45px;
    align-items: center;
}
nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-top: 5px;
}

.nav {
    display: flex;
    font-size: 14px;
    list-style: none;
    &-item {
        transform: scaleX(1.13);
        margin-left: 29px;
        display: flex;
    }
    &-link {
        align-items: center;
        text-decoration: none;
        color: #1f204180;
        display: flex;
    }
}

.material-icons {
    vertical-align: top;
    transform: scaleX(0.85);
}

.control {
    display: flex;
    list-style: none;
    padding-left: 0;
    transform: scaleX(1.05);
    &-link {
        text-decoration: none;
    }
}
