@import url("../../fonts/fonts.css");

.header {
    background-color: white;
    font-family: "Montserrat", "Arial", sans-serif;
    display: flex;
    justify-content: space-between;
    margin: 15px 140px;
    padding: 0px 45px;
    align-items: center;
}
nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-top: 5px;
}

.nav {
    display: flex;
    font-size: 14px;
    list-style: none;
    &-item {
        transform: scaleX(1.13);
        margin-left: 29px;
        display: flex;
    }
    &-link {
        align-items: center;
        text-decoration: none;
        color: #1f204180;
        display: flex;
    }
}

.material-icons {
    vertical-align: top;
    transform: scaleX(0.85);
}

.control {
    display: flex;
    list-style: none;
    padding-left: 0;
    transform: scaleX(1.05);
    
    &-button {
        margin-left: 16px;
        font-weight: bold;
        font-size: 12px;
        border: 0;
        border-radius: 22px;
        text-transform: uppercase;
        white-space: nowrap;
        position: relative;
        &_login {
            color: #bc9cff;
            padding-top: 9px;
            padding-bottom: 9px;
            padding-left: 19px;
            padding-right: 19px;
            border-color: #8ba4f9;
            background: #ffffff;
            &::before {
                content: "";
                position: absolute;
                top: -2px;
                bottom: -2px;
                left: -2px;
                right: -2px;
                background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
                border-radius: 22px;
                z-index: -1;
                
            }
            &:hover::before{
                opacity: 0.5;
            }
        }

        
        &_signup {
            color: #ffffff;
            padding-top: 9px;
            padding-bottom: 9px;
            padding-left: 19px;
            padding-right: 20px;
            background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
            border-radius: 22px; 
            &:hover {
            opacity: 0.5;
        }
        }
       
    }
    &-link {
        text-decoration: none;
    }
}
