include ..\button\button.pug
style 
    include header.css
link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")

header
    .header 
        a(href="#") 
            img(src="images/logo.svg" alt="logo")
        nav 
            ul.nav 
                li.nav-item
                    a(href="").nav-link О нас 
                li.nav-item
                    a(href="").nav-link Услуги
                     i.material-icons expand_more
                li.nav-item
                    a(href="").nav-link Вакансии
                li.nav-item
                    a(href="").nav-link Новости
                li.nav-item
                    a(href="").nav-link Соглашения
                     i.material-icons expand_more 
            ul.control 
                li.control-button     
                    +button("Войти","empty")
                    +button("Зарегистрироваться","gradient") 
