
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
<header>
  <div class="header"> <a href="#"> <img src="images/logo.svg" alt="logo"/></a>
    <nav> 
      <ul class="nav"> 
        <li class="nav-item"><a class="nav-link" href="">О нас </a></li>
        <li class="nav-item"><a class="nav-link" href="">Услуги<i class="material-icons">expand_more</i></a></li>
        <li class="nav-item"><a class="nav-link" href="">Вакансии</a></li>
        <li class="nav-item"><a class="nav-link" href="">Новости</a></li>
        <li class="nav-item"><a class="nav-link" href="">Соглашения<i class="material-icons">expand_more </i></a></li>
      </ul>
      <ul class="control"> 
        <li class="control-button">    
          <button class="control-button control-button_login">Войти</button>
          <button class="control-button control-button_signup">Зарегистрироваться </button>
        </li>
      </ul>
    </nav>
  </div>
</header>