footer 
    .footer 
        ul.footer-list 
            a(href="#")
                img(src="images/logo.svg" alt="logo").footer-list_logo
            p.footer-list_underlogo Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        ul.footer-list 
            li.footer-list_item
                p.footer-list_title Навигация
            li.footer-list_item
                a(href="").footer-list_link О нас 
            li.footer-list_item
                a(href="").footer-list_link Новости
            li.footer-list_item
                a(href="").footer-list_link Служба поддержки
            li.footer-list_item
                a(href="").footer-list_link Услуги
        ul.footer-list 
            li.footer-list_item
                p.footer-list_title О нас
            li.footer-list_item
                a(href="").footer-list_link О сервисе
            li.footer-list_item
                a(href="").footer-list_link Наша команда
            li.footer-list_item
                a(href="").footer-list_link Вакансии
            li.footer-list_item
                a(href="").footer-list_link Инвесторы
        ul.footer-list 
            li.footer-list_item
                p.footer-list_title Служба поддержки
            li.footer-list_item
                a(href="").footer-list_link Соглашения
            li.footer-list_item
                a(href="").footer-list_link Сообщества
            li.footer-list_item
                a(href="").footer-list_link Связь с нами
        ul.footer-list 
            li.footer-list_item
                p.footer-list_title Подписка
            li.footer-list_item
                p.footer-list_sub Получайте специальные предложения и новости сервиса