- var pageTitle = 'Toxin'

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title = pageTitle
        style 
            include styles/normilize.css
            include styles/style.css
        script(src="") 
    body 
        include modules/header
        include modules/footer