- var pageTitle = 'Toxin'


doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title = pageTitle
        style 
            include styles/normilize.css
            include styles/style.css
            include components/header/header.css
            include components/footer/footer.css
        script(src="")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js") 
    body 
        include components/header/header
        main.main 
            img(src="images/landing.png", alt="")
            include components/find-room/find-room
        include components/footer/footer
        